body { font: 14px, "Century Gothic", Futura, sans-serif; margin: 20px; }

ol, ul { padding-left: 30px; }

.board-row:after { clear: both; content: ""; display: table;}

.status { margin-bottom: 10px; }

.square { float: left; width: 34px; height: 34px; margin-right: -1px; margin-top: -1px; padding: 0; line-height: 34px; text-align: center; font-size: 24px; font-weight: bold; 
	background: #fff; border: 1px solid #999; }

.square:focus { outline: none; background: #eee; }

.kbd-navigation .square:focus { background: #ddd; }

.game { display: flex; flex-direction: row;}

.game-info { margin-left: 20px; }